<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>激活成功</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="http://xian17.com/h5/styles/normalize.css">
    <link rel="stylesheet" href="http://xian17.com/h5/styles/style.css">
</head>

<body>
    <div class="container">
        <div class="activate">
            <div class="form-section">
                <h3 class="form-section-title">您的宅配卡已成功激活！</h3>
                <div class="form-section-body">
                    <p class="form-section-text">
                        <span id="user"></span>（收） &nbsp; <span id="phone"></span>
                    </p>
                    <p class="form-section-text">
                        <span id="addr"></span>
                    </p>
                </div>
            </div>
           <!--  <div class="form-section" >
                <h3 class="form-section-title">备注</h3>
                <div class="form-section-body">
                    <p class="form-section-text" id="remarks">
                    
                    </p>
                </div>
            </div> -->
            
            <div class="activete-dots"><i></i><i></i><i></i></div>
            <div class="activete-tips">
                二丫已经收到您的配送信息哦， <br>
                稍后会电话联系您确认配送开始时间！
            </div>

            <a href="/ey/goback.html" class="activete-back">逛逛首页</a>
        </div>
    </div>
    

    <!-- 当前页面 -->
    <script>var CURRENT_PAGE = 'SUCCESS';</script>
    <script src="/js/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/js/bower_components/Validform_v5.3.2_min/index.js"></script>
    <script src="/js/scripts/activate.js"></script>
</body>

</html>
