{% include "../_partial/head.html" %}
<div class="bind">
	<h2>添加礼金卡</h2>
	<form action="" class="am-form">
	  <div class="am-form-group">
	    <input type="text" id="doc-vld-name" minlength="3" placeholder="礼金卡号 " class="am-form-field" required/>
	  </div>
	  <div class="am-form-group">
	    <input type="text" id="doc-vld-password" minlength="3" placeholder="密码" class="am-form-field" required/>
	  </div>
	</form>
	<a href="javascript:void(0)"  class="pub_btn mt2">确定</a>
</div>
{% include "../_partial/foot.html" %}