{% include "../_partial/head.html" %}
<div class="pub_line">
	<span>3张可用优惠券</span>
</div>
<div class="coupon">
	<div class="list">
		<ul>
			<li>
				<a href="#">
					<img src="/img/couponBg.jpg">
					<div class="txt">
						<p class="price">30<em>元</em></p>
						<p class="tit">庆祝二丫和狗蛋小店开张，特发此券！</p>
						<p class="ps">订单金额高于399元可用</p>
						<p class="ps">有效期2015/09/18-09/30</p>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/img/couponBg.jpg">
					<div class="txt">
						<p class="price">50<em>元</em></p>
						<p class="tit">庆祝二丫和狗蛋小店开张，特发此券！</p>
						<p class="ps">订单金额高于399元可用</p>
						<p class="ps">有效期2015/09/18-09/30</p>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/img/couponBg.jpg">
					<div class="txt">
						<p class="price">100<em>元</em></p>
						<p class="tit">庆祝二丫和狗蛋小店开张，特发此券！</p>
						<p class="ps">订单金额高于399元可用</p>
						<p class="ps">有效期2015/09/18-09/30</p>
					</div>
				</a>
			</li>
		</ul>
	</div>
	<div class="pub_noData">
		<p><a href="#"><img src="/img/em1.png"></a></p>
		<p>耐心等待，<br>二丫会不定期发放优惠券哦！</p>
	</div>
</div>
{% include "../_partial/foot.html" %}