{% include "../_partial/head.html" %}
<div class="index profile">
	<div class="menu help">
		<ul>
			<a href="/profile/help-coupon.html">
				<li>
					<span class="fl"><em>优惠券使用规则</em></span>
					<span class="fr"><i class="am-icon-angle-right"></i></span>
				</li>
			</a>
			<a href="/profile/help-ship.html">
				<li>
					<span class="fl"><em>配送说明</em></span>
					<span class="fr"><i class="am-icon-angle-right"></i></span>
				</li>
			</a>
			<a href="/profile/help-invoice.html">
				<li>
					<span class="fl"><em>发票制度</em></span>
					<span class="fr"><i class="am-icon-angle-right"></i></span>
				</li>
			</a>
			<a href="/profile/help-goods.html">
				<li>
					<span class="fl"><em>退货政策</em></span>
					<span class="fr"><i class="am-icon-angle-right"></i></span>
				</li>
			</a>
		</ul>
	</div>
</div>
{% include "../_partial/foot.html" %}