{% include "../_partial/head.html" %}
<div class="pub_info">
<strong>验货与拒收</strong><br><br>

1、为保障您的权益，请您在收到商品时与配送员当面核对，核对范围包括但不限于：商品种类、规格、数量（包括商品最小包装单位）、金额、赠品、票据等是否与订单一致。<br>

2、根据不同食品的不同属性，在验货时您还需要一并检查以下内容，其中包括但不限于：商品表面质量问题、商品包装、商品的保质期、商品本身标识是否可辨、商品的防伪标签是否已被刮开等。<br>

3、如果您在验货时发现商品存在上述问题，经配送员或配送员在场时与客服联络确认，可以选择拒收有问题商品。<br>

4、如果以上问题确认无误后您可进行签收。若您的订单交由他人代收，代收人享有与您等同的权利，我们将视为您本人签收。签收后，二丫和狗蛋网不再受理以上相关问题。<br><br>


<br><strong>温馨提示</strong><br><br>

拒收业务完成后，已支付的款项我们将按原支付方式和路径安排退款。 如果您对我们的服务有任何疑问，请拨打我们的服务热线：400-072-1717<br>


退换货政策<br>

依据《中华人民共和国产品质量法》、《中华人民共和国消费者权益保护法》等法律法规，二丫与狗蛋网承诺对于已销售的存在质量问题的商品办理退换货服务。<br>


<br><strong>退换货规则</strong><br><br>

1、生鲜类商品（蔬菜水果、水产海鲜、肉禽蛋奶等），仅支持质量问题退换货。签收后48小时内您发现验货时无法发现的质量问题，请与客服中心联系，并提交相关证明，我们为您进行售后处理。<br>

2、非生鲜类商品，自顾客收到商品之日起7日内，如符合以下条件，我们将提供退换货服务：<br>
（1）商品及商品本身的外包装没有损坏，保持出售时的原质原样，不影响二次销售；<br>
（2）商品及配件、附带品或者赠品、发票、发货清单齐全；<br>
（3）如果商品售卖时有赠品，办理退货时，必须同时将赠品退回；<br>
（4） 成套商品或者礼盒装商品中有部分商品存在质量问题，在办理退换货时，必须将整套商品退回；<br>

3、特殊商品（页面已明确注明）优先适用特殊售后规定;<br>

4、宅配会员卡政策详见“宅配卡”页面。<br>


<br><strong>温馨提示</strong><br><br>

1、生鲜类商品（蔬菜水果、水产海鲜、肉禽蛋奶等）由于受季节、气候、生长环境等因素影响，不同批次略有差异属正常现象；<br>

2、我们会尽最大努力确保网站图片与实物的一致性，但由于生鲜商品（蔬菜水果、水产海鲜、肉禽蛋奶等）特殊性，图片及信息仅供参照，商品将以实物为准，因拍摄灯光及不同显示器色差等问题可能造成商品图片与实物有一定色差，不属质量问题。<br>

3、通常情况下，一张订单只能进行一次退换货操作，所以为了确保您的权益，请您考虑周全后与我们联系。<br>


<br><strong>特别声明</strong><br><br>

存在以下情形，本公司不承担退换货责任：<br>

1、任何因客户使用或保管不当导致出现质量问题的商品;<br>

2、任何因客户原因导致超过保质期的商品<br>

3、误用或不正确的使用方法所造成的食品质量问题，或撕毁、涂改标贴、防伪标记的商品不予退换货；<br>

4、对于货物数量缺失的情况，我们只受理当场投诉，一旦签收后，我们将不受退换货要求;<br>

5、生鲜类商品（蔬菜水果、水产海鲜、肉禽蛋奶等）不得以外观、个人口感等主观因素为由提出退换货；<br>

6、对于临期特卖商品，非质量问题不退不换。<br>


<br><strong>退换货运费说明</strong><br><br>

因提供商品存在质量问题造成的退换货，客户无需承担退换货产生的运费。<br>


退款办理时效<br>

退款审核通过后的退款方式及退款周期：<br>

￼<br>

注意：退款单处理周期仅供参考，具体退款到账时间可能会受银行、支付机构、业务高峰等相关因素影响，敬请谅解。<br>


<br><strong>自助退换货流程如下：</strong><br><br>

1、 登录 “我的用户中心”选择“我的订单”<br>

2、选择需要申请退换货的订单，并点击【申请退换货】按钮<br>

3、选择您需要退换货的商品<br>

4、输入您需退换商品数量，同时上传问题商品照片，并在【申请描述】中填写退货原因及详细描述问题<br>

5、选择退换货联系人信息<br>

6、确认信息无误后，点击【提交申请】，完成在线自助退换货申请。<br>


<br><strong>退换货申请流程</strong><br><br>

￼


</div>
{% include "../_partial/foot.html" %}