{% include "../_partial/head.html" %}
<div class="pub_info">
	<strong>一、领取、使用规则</strong><br><br>

1、登录账号在app页面领取相应金额的优惠券。<br>

2、下单以后系统根据优惠券的满减金额自动减掉优惠金额。<br>

3、邮费算在满减金额内。<br>

4、优惠券一经使用不退还，优惠券不可以作为现金券使用，不可提现。<br>

5、优惠券只限本APP使用，不适用本公司其他平台。<br>


<br><strong>二、优惠券在退款中的规则</strong><br><br>

1、对于整个订单的退货，我们按实付金额退款，优惠券不可二次使用，优惠券金额不退还。<br>

2、关于一个订单中包含的产品，订单使用了优惠券，但是其中有一个产品发生退货，退款金额的展示和处理方式：订单中退款产品的金额（实付金额）=产品实际销售金额-使用优惠券的金额 （按订单中每个商品金额占比分配优惠额度）。

</div>
{% include "../_partial/foot.html" %}