{% include "../_partial/head.html" %}
<div class="pub_info">
<strong>如何获得发票</strong><br><br>

您可以在下单时选择是否需要发票以及需要发票的类型（对个人我们只能提供增值税普通发票）。<br>


<br><strong>设置发票信息</strong><br><br>

1.您在索取发票时需提供发票抬头（个人、公司），发票抬头不可为空，您可填写："个人"、您的姓名、或您的单位名称<br>

2.发票内容统一开具“农产品”。<br>


<br><strong>补开/换开发票</strong><br><br>

1. 若您提交订单时未选择发票，在收到商品后，请联系本来生活的客服，并告知您的订单号、发票抬头、邮寄地址、邮编、电话号码及收件人，我们会以快递方式为您寄出。需要快递的费用由客户您承担<br>

2．当您收到发票后，发现因本来生活原因所致票据抬头、内容或金额错误的，您可致电客服由客服人员为您办理换发票事宜。因此产生的快递费用由二丫和狗蛋承担。若因您的原因导致发票错误需要重开 您需承担由此产生的快递费用。<br>


<br><strong>开发票的注意事项</strong><br><br>

1.发票金额不能高于或者低于订单实收金额。<br>

2.订单优惠券抵扣部分金额不可开具发票；<br>

3.现金免费抵用券也不可以开具发票<br>

4.活动兑换商品、积分商品以及赠送的商品不提供发票；<br>

5.一张订单只能开一次发票。<br>


<br><strong>企业客户注意事项</strong><br><br>

1.根据国家税务规定不能向个人开具增值税发票，如果个人作为代理人为公司开具增值税发票，为了正确的使用增值税发票，请您提供以下的文件的复印件到我公司. <br>
- 一般纳税人认定书 <br>
- 营业执照副本、组织机构代码证、税务登记证、并需提供如下信息： <br>
- 订单号<br> 
- 填写公司名称、单位地址电话、公司税号、开户银行和帐号、发票邮寄地址详细信息，并注意所填的内容须与纳税信息一致 <br>
公司名称必须为工商注册登记的名称 <br>
公司的地址和电话是您开票信息上的地址和电话 <br>
税务登记号是您公司《税务登记证》的编号，一般为15位，请仔细核对后输入 <br>
开户银行名称与银行帐号两者必须都要填写，缺一不可 <br>
请您填写正确的发票邮寄地址，保证发票能够准确送达；如果您未填写此项，二丫和狗蛋将以收货地址作为发票的邮寄地址，以便及时与您联系 <br>

2. 根据国家税务总局增值税发票管理规定,<br>商业企业一般纳税人零售的烟、酒、食品、服装、鞋帽（不包括劳保专用部分）、化妆品等消费品不得开具专用发票（国税发【2006】156号）。因此，您采购上述产品的订单将不能取得增值税专用发票。

</div>
{% include "../_partial/foot.html" %}