{% include "../_partial/head.html" %}
<div class="myOrder">
	<div class="tab">
		<ul>
			<li>
				<a href="javascript:void(0)" class="cur" data-id="0">待付款</a>
			</li>
			<li>
				<a href="javascript:void(0)" data-id="1">配送中</a>
			</li>
			<li>
				<a href="javascript:void(0)" data-id="2">已完成</a>
			</li>
			<li>
				<a href="javascript:void(0)" data-id="3">已取消</a>
			</li>
		</ul>
	</div>
	<div id="list"></div>
</div>
{% include "../_partial/foot.html" %}
<script src="/js/profile/order.js"></script>