{% include "../_partial/head.html" %}
<style type="text/css">
	body{
		background-color: #fff;
	}
</style>
<div class="index profile">
	<div class="pinfo">
		<img src="/img/profileBg.jpg">
		<div class="con">
			<div class="img">
				<img src="/img/jiankangdashi@2x.png" class="bg">
				<img src="#" class="people">
				<a href="/profile/set.html" class="set"><i class="icon-shezhi_3x"></i></a>
			</div>
			<div class="txt">
				<p class="tit"></p>
				<p class="UserIdentity"></p>
				<p class="link"><a href="/profile/how_1.html">如何推广？</a></p>
			</div>
		</div>
	</div>
	<div class="menu">
		<ul>
			<a href="/profile/order.html">
				<li>
					<span class="fl"><i class="icon-dingdan_2x"></i><em>我的订单</em></span>
					<span class="fr"><i class="am-icon-angle-right"></i></span>
				</li>
			</a>
			<a href="/profile/balance.html">
				<li>
					<span class="fl"><i class="icon-yue_2x"></i><em>我的余额</em></span>
					<span class="fr"><i class="am-icon-angle-right"></i></span>
					
				</li>
			</a>
			<a href="/profile/coupon.html">
				<li>
					<span class="fl"><i class="icon-youhuiquan_2x"></i><em>我的优惠券</em></span>
					<span class="fr"><i class="am-icon-angle-right"></i></span>
				</li>
			</a>
			<a href="/profile/address.html">
				<li>
					<span class="fl"><i class="icon-dizhi-_2x"></i><em>我的地址</em></span>
					<span class="fr"><i class="am-icon-angle-right"></i></span>
				</li>
			</a>
			<a href="/profile/card.html">
				<li>
					<span class="fl"><i class="icon-lijinka_2x"></i><em>激活礼金卡</em></span>
					<span class="fr"><i class="am-icon-angle-right"></i></span>
				</li>
			</a>
			<a href="/profile/activeCard.html">
				<li>
					<span class="fl"><i class="icon-dingdan_2x"></i><em>激活宅配礼品卡</em></span>
					<span class="fr"><i class="am-icon-angle-right"></i></span>
				</li>
			</a>
			<a href="/profile/bind.html">
				<li>
					<span class="fl"><i class="icon-bangding_2x"></i><em>绑定APP账号</em></span>
					<span class="fr"><i class="am-icon-angle-right"></i></span>
				</li>
			</a>
		</ul>
	</div>
</div>

{% include "../_partial/footer.html" %} {% include "../_partial/foot.html" %}
<script src="/js/profile/profile.js"></script>