{% include "../_partial/head.html" %}
<section class="register">
    <form method="post" class="am-form" data-am-validator id="registerForm">
        <input type="hidden" name="ParentID" value="{{ParentID}}">
        <div class="checkPhoneNumber">
            <ul>
                <li>
                    <p>
                        <input type="tel" name="mobileNo" placeholder="请输入手机号码" required>
                        <button type="button" class="am-btn am-btn-xs am-btn-default sendSMS">获取验证码</button>
                    </p>
                </li>
                <li>
                    <p>
                        <input type="text" name="smsCode" placeholder="请填写验证码" required>
                    </p>
                </li>
                <li>
                    <p>
                        <input type="password" name="userpwd" id="doc-vld-pwd-1" placeholder="密码" required>
                    </p>
                </li>
                <li>
                    <p>
                        <input type="password" id="doc-vld-pwd-2" data-equal-to="#doc-vld-pwd-1" placeholder="确认密码" required>
                    </p>
                </li>
            </ul>
        </div>
        <!-- <p class="register-error-message">&nbsp;</p> -->
        <p class="alipay-button">
            <button type="submit" class="am-btn am-btn-default">确认修改</button>
        </p>
    </form>
</section>
<!-- 《用户协议》 -->
{% include "../_partial/foot.html" %}
<script src="/plugins/jquery.md5.min.js"></script>
<script src="/js/profile/recoveryPassword.js"></script>
