{% include "../_partial/head.html" %}
<div class="index profile">
	<div class="menu setlist mt0">
		<ul>
			<a href="#">
				<li>
					<span class="fl"><i class="icon-dingdan_2x"></i><em>清理缓存</em></span>
					<span class="fr"><i class="am-icon-angle-right"></i></span>
				</li>
			</a>
			<a href="#">
				<li>
					<span class="fl"><i class="icon-yue_2x"></i><em>推荐给朋友</em></span>
					<span class="fr"><i class="am-icon-angle-right"></i></span>
				</li>
			</a>
			<a href="/profile/about.html">
				<li>
					<span class="fl"><i class="icon-youhuiquan_2x"></i><em>关于我们</em></span>
					<span class="fr"><i class="am-icon-angle-right"></i></span>
				</li>
			</a>
			<a href="/profile/help.html">
				<li>
					<span class="fl"><i class="icon-dizhi-_2x"></i><em>使用帮助</em></span>
					<span class="fr"><i class="am-icon-angle-right"></i></span>
				</li>
			</a>
		</ul>
	</div>
</div>
{% include "../_partial/foot.html" %}
