{% include "../_partial/head.html" %}
<div class="swiper-container package">
	<div class="pagination"></div>
	<div class="swiper-wrapper">

		<div class="swiper-slide">

			<div class="inner">

			<a href="#" target="_blank">

			<img src="/img/l1.jpg" alt=""></a></div>

		</div>

		<div class="swiper-slide">

			<div class="inner">

			<a href="#" target="_blank">

			<img src="/img/l2.jpg" alt=""></a></div>

		</div>

		<div class="swiper-slide">

			<div class="inner">

			<a href="#" target="_blank">

			<img src="/img/l3.jpg" alt=""></a></div>

		</div>
	</div>
	<div class="title">
		<p>今天在菜地<em> · </em>明天上餐桌</p>
		<p>纯朴<em>｜</em> 山野<em>｜</em>农家<em>｜</em>食材</p>
	</div>
</div>

{% include "../_partial/foot.html" %}
<script src="/js/package/idangerous.swiper-2.0.min.js"></script>
<script src="/js/package/package.js"></script>
