<!DOCTYPE html>
<html lang="zh-cn" class="full">

<head>
    <meta charset="UTF-8">
    <title>宅配套餐</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="http://xian17.com/h5/styles/normalize.css">
    <link rel="stylesheet" href="http://xian17.com/h5/styles/style.css">
</head>

<body class="full" id="full">
    <div class="secend-bg" id="secendBg">
        <div class="secend-bg-item active" style="background-image:url(http://xian17.com/h5/images/secend/bg-01.jpg);"></div>
        <div class="secend-bg-item" style="background-image:url(http://xian17.com/h5/images/secend/bg-02.jpg);"></div>
        <div class="secend-bg-item" style="background-image:url(http://xian17.com/h5/images/secend/bg-03.jpg);"></div>
    </div>
    <div class="secend-warp" id="secendWarp">
        <!-- <header class="head">
            <a href="javascript:;" class="head-btn head-left-btn"><i class="icon icon-back"></i></a>
        </header> -->
        <div class="secend-warp-box">
            <div class="secend-slide" id="touchSlider">
                <div class="secend-slide-item">
                    <a href="/package/info.html" class="secend-slide-item-link">
                        <img src="http://xian17.com/h5/images/secend/01.jpg" alt="">
                    </a>
                </div>
                <div class="secend-slide-item">
                    <a href="/product/detail.html?pid=1738" class="secend-slide-item-link">
                        <img src="http://xian17.com/h5/images/secend/02.jpg" alt="">
                    </a>
                </div>
                <div class="secend-slide-item">
                    <a href="/product/detail.html?pid=1740" class="secend-slide-item-link">
                        <img src="http://xian17.com/h5/images/secend/03.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <footer class="secend-foot"><i></i>
            <div class="secend-foot-box" id="secendFoot">
                <div class="secend-foot-box-item">
           <p>买菜难·配菜难·我们来解决</p>
                 
                   <p>淳朴 ｜ 山野 ｜ 农家 ｜ 食材</p>
           
                   
                </div>
                <div class="secend-foot-box-item hide">
                     <p>今天在菜地·明天上餐桌</p>

                   <p>淳朴 ｜ 山野 ｜ 农家 ｜ 食材</p>
                </div>
                <div class="secend-foot-box-item hide">
                     <p>送礼不如送健康</p>

                   <p>淳朴 ｜ 山野 ｜ 农家 ｜ 食材</p>
                </div>
            </div>
        </footer>
    </div>
    <script src="http://xian17.com/h5/bower_components/jquery/dist/jquery.min.js"></script>

    <script src="http://xian17.com/h5/scripts/main.js"></script>
</body>

</html>
