$echo-loading-panel-height:12.5rem;

.echo-loading{
	// height: $echo-loading-panel-height !important;
	// line-height: $echo-loading-panel-height;
	text-align: center;
	// img{
	// 	height: auto;
	// }
}

.productList-echo-loading{
	a{
		// display: block;
		// height: $echo-loading-panel-height;
		text-align: center;

	}
	img{
		width: auto!important;
		// padding: $echo-loading-panel-height/2;
	}
}