 {% if "1" == data['code'] && !!data['data'] %} 
 {% for product in data['data']['porList'] %}
 <li>
    <div class="am-gallery-item productList-echo-loading">
        <a href="/product/detail.html?pid={{product.pid}}">
            <img src="/img/ajax-loader-1.jpg" alt="{{product.Name}}" data-echo="{{product.Image}}">
            <h3 class="am-gallery-title">{{product.Name}}</h3>
            <!-- <p>550g</p> -->
            <div class="am-gallery-desc">￥{{product.ShopPrice}}</div>
        </a>
    </div>
</li>
{% endfor %}
{% endif %}