{% include "../_partial/head.html" %}
<style type="text/css">
	body{
		background: #fff;
	}
	
</style>
<div class="basket_bag">
	<section class="list">
		<ul class="list-ul">
			<li class="pub_noData">
			     <p><img src="/img/em4.png"></p>
			     <p>首页有惊喜，快去添加吧！</p>
			     <p><a href="/index/index.html" class="link">去逛逛</a></p>
			</li> 
		</ul>
	</section>
</div>


<header class="am-topbar am-topbar-fixed-bottom detail_foot basket_foot" id="total" style="display: none;">
  <div class="cu">
  	<i>促</i><em>满199元，即享包邮！</em>
  </div>
  <div class="price">
  	<div class="fl">
  		<a href="javascript:void(0)" class="all set-default"><i class="am-icon-circle"></i><i class="am-icon-circle-o"></i>全选</a>
  	</div>
  	<div class="fr">
  		<span>合计：<em id="total_price">0</em>元</span>
  	</div>
  </div>
  <a href="javascript:void(0)"  class="btn buy disable" id="getPay">去结账</a>
</header>



{% include "../_partial/foot.html" %}
<script src="/js/basket/jquery.mobile-1.4.3.min.js"></script>
<script src="/js/basket/basket.js"></script>
