{% include "../_partial/head.html" %}
<script type="text/javascript">
var pids = "{{pids}}";
</script>
<style type="text/css">
  .order_ok{
    padding-bottom: 2rem;
  }
</style>
<div class="order_ok" id="orderMain"></div>

<!-- 发票页面 -->
<div class="order_ok" id="invoicePage">
  <div class="list">
    <div class="title">
      <div class="fl">
          <h2>是否要开发票</h2>
       </div>
       <div class="fr">
        <a href="javascript:void(0)" class="cur toggle" ><i class="am-icon-toggle-on"></i><i class="am-icon-toggle-off"></i></a>
      </div>
    </div>
  </div>
  <div class="list">
    <div class="title">
      <div class="fl">
          <h2>发票类型</h2>
        </div>
    </div>
    <div class="con">
      <div class="fl">
        <span class="col-grey">纸质发票</span>
      </div>
    </div>
    <div class="total">
      <span class="fl col-9">注：目前只提供发票金额，不提供发票明细。</span>
    </div>
  </div>
  <div class="list">
    <div class="title">
      <div class="fl">
          <h2>发票抬头</h2>
        </div>
    </div>
    <div class="input">
      <input type="text" placeholder="默认“个人”（限35字符）" id="inputInoice">
    </div>
  </div>
  <header class="am-topbar am-topbar-fixed-bottom detail_foot bge bd0">
	  <a href="javascript:void(0)"  class="btn buy" id="ok">确认</a>
	</header>
</div>

<!-- 我的余额页面 -->
<div class="order_ok" id="yuer">
  <div class="list">
    <div class="title">
      <div class="fl">
          <h2>可用余额 ¥<i class="yuer">0.00</i></h2>
        </div>
    </div>
    <div class="con">
      <div class="fl">
        <input type="number" class="yuer" name="yuer" value="" placeholder="余额支付 0.00 元">
        <!-- <span class="col-grey">余额支付<em class="yuer">0.00</em>元</span> -->
      </div>
    </div>
  </div>
    <header class="am-topbar am-topbar-fixed-bottom detail_foot bge bd0">
    <a href="javascript:void(0)"  class="btn buy" id="ok_yuer">确认</a>
  </header>
</div>

<!-- 获取可用优惠券 -->
<div class="coupon" id="orderCoupon">
	<div class="list">
		<ul>
			
		</ul>
	</div>
</div>

<!-- 获取收货地址 -->
<div class="address" id="orderAddress">
   
</div>
{% include "../_partial/foot.html" %}
<script src="/js/basket/order.js"></script>