{% include "../_partial/head.html" %} {% set expensesList = data['data']['expensesList'] %}
<div class="basket_bag order_ok">
    <ul class="list-ul">
        {% for list in expensesList %} {% for proinfo in list['proList'] %}
        <li class="list-li">
            <div class="con">
                <div class="fl">
                    <img src="{{proinfo.ShowImg}}">
                    <div class="txt">
                        <div class="tit">{{proinfo.Name}}</div>
                        <div class="spec">{{proinfo.defaultMessage}}</div>
                        <div class="price">￥{{proinfo.ShopPrice.toFixed(2)}}</div>
                    </div>
                </div>
                <div class="fr">
                    <em>x</em>{{proinfo.BuyCount}}
                </div>
            </div>
        </li>
        {% endfor %}{% endfor %}
    </ul>
</div>
{% include "../_partial/foot.html" %}
