{% include "../_partial/head.html" %}

<div class="basket_bag order_ok">
	<ul class="list-ul">
	     <li class="list-li">
	         <div class="con">
	             <div class="fl">
	             	<img src="/img/test1.jpg">
	             	<div class="txt">
	             		<div class="tit">甜掉牙的河边奶油莓甜掉牙的河边奶油莓</div>
	             		<div class="spec">30kg/黑鲢30kg/黑鲢30kg/黑鲢30kg/黑鲢</div>
	             		<div class="price">￥3569.20</div>
	             	</div>
	             </div>
	             <div class="fr">
	             	<em>x</em>99
	             </div>
	         </div>
	     </li>
	     <li class="list-li">
	         <div class="con">
	             <div class="fl">
	             	<img src="/img/test1.jpg">
	             	<div class="txt">
	             		<div class="tit">甜掉牙的河边奶油莓甜掉牙的河边奶油莓</div>
	             		<div class="spec">30kg/黑鲢30kg/黑鲢30kg/黑鲢30kg/黑鲢</div>
	             		<div class="price">￥3569.20</div>
	             	</div>
	             </div>
	             <div class="fr">
	             	<em>x</em>99
	             </div>
	         </div>
	     </li>
	</ul>
</div>
{% include "../_partial/foot.html" %}