{% include "../_partial/head.html" %}

<section id="full" class="full">
    <div class="secend-bg" id="secendBg">
        <div class="secend-bg-item active" style="background-image:url(/img/secend/bg-01.jpg);"></div>
        <div class="secend-bg-item" style="background-image:url(/img/secend/bg-02.jpg);"></div>
        <div class="secend-bg-item" style="background-image:url(/img/secend/bg-03.jpg);"></div>
        <div class="clear"></div>
    </div>
    <div class="secend-warp" id="secendWarp">
        <!-- <header class="head">
            <a href="javascript:;" class="head-btn head-left-btn"><i class="icon icon-back"></i></a>
        </header> -->
        <div class="secend-warp-box">
            <div class="secend-slide" id="touchSlider">
                <div class="secend-slide-item">
                    <a href="delivery.html" class="secend-slide-item-link">
                        <img src="/img/secend/01.jpg" alt="">
                    </a>
                    <div class="clear"></div>
                </div>
                <div class="secend-slide-item">
                    <a href="/tc/1738.html" class="secend-slide-item-link">
                        <img src="/img/secend/02.jpg" alt="">
                    </a>
                    <div class="clear"></div>
                </div>
                <div class="secend-slide-item">
                    <!-- <a href="/tc/1740.html" class="secend-slide-item-link"> -->
                        <img src="/img/secend/03.jpg" alt="">
                    <!-- </a> -->
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <footer class="secend-foot"><i></i>
            <div class="secend-foot-box" id="secendFoot">
                <div class="secend-foot-box-item">
                    <p>买菜难·配菜难·我们来解决</p>
                    <p>淳朴 ｜ 山野 ｜ 农家 ｜ 食材</p>
                </div>
                <div class="secend-foot-box-item hide">
                    <p>今天在菜地·明天上餐桌</p>
                    <p>淳朴 ｜ 山野 ｜ 农家 ｜ 食材</p>
                </div>
                <div class="secend-foot-box-item hide">
                    <p>送礼不如送健康</p>
                    <p>淳朴 ｜ 山野 ｜ 农家 ｜ 食材</p>
                </div>
            </div>
        </footer>
    </div>
</section>
<div class="clear"></div>
{% include "../_partial/foot.html" %}
<script src="/js/home-delivery/index.js"></script>