{% include "../_partial/head.html" %}
<style type="text/css">
	body{
		background-color: #fff;
	}
</style>
<div class="h5">
	<div class="banner">
		<img src="/img/des2.jpg">
		<div class="media">
			<a href="#"><img src="/img/m2.jpg"></a>
		</div>
	</div>
	<div class="con">
		<h2>百草含香</h2>
		<div class="info">
			<i>大</i>
			<em>别山位于北纬30°10′～32°30′，东经112°40′～117°10′。主峰是白马尖，海拔1777米，位于安徽省六安市霍山县境内。次主峰多云尖（海拔1763米），位于安徽省六安市霍山县境内。<br>良好的生态环境吸引了大批的候鸟在此栖息。司马迁感叹：“山之南山花烂漫，山之北白雪皑皑。”的神奇仙境。大别山物质丰饶，富含近百种对人体有益的生物活性物质，硕果缀枝，百草含香。</em>
		</div>
	</div>
	<div class="foot">
		<a href="/index/h5.html" class="fr">下一页·春秋山<i class="am-icon-long-arrow-right"></i></a>
	</div>
</div>
{% include "../_partial/foot.html" %}
