{% include "../_partial/head.html" %}
<style type="text/css">
	body{
		background-color: #fff;
	}
</style>
<div class="h5">
	<div class="banner">
		<img src="/img/des3.jpg">
		<div class="media">
			<a href="#"><img src="/img/m3.jpg"></a>
		</div>
	</div>
	<div class="con">
		<h2>环湖皆山 一碧万倾</h2>
		<div class="info">
			<i>万</i>
			<em>佛湖景区面积299平方公里，湖岸周边205公里，生态环境良好，环湖皆山，一碧万倾，绿岛浮动，是各种禽鸟栖息之地，造就了野鸭渚、雉鸡坞、白鹭洲等自然景观，每当“寒波淡淡起”，便看到“白鸟悠悠下”。<br>万佛湖的鱼，有随雨水入湖的大量天然饵料，无需任何人工饲养。其味鲜美，鲜而不腥，肥而不腻，腴嫩汁浓，汤色乳白，高蛋白，低脂肪，回味无穷。</em>
		</div>
	</div>
	<div class="foot">
		<a href="/index/h5-1.html" class="fl"><i class="am-icon-long-arrow-left"></i>上一页·大别山</a>
	</div>
</div>
{% include "../_partial/foot.html" %}
