{% include "../_partial/head.html" %}
<style type="text/css">
	body{
		background-color: #fff;
	}
</style>
<div class="h5">
	<div class="banner">
		<img src="/img/des1.jpg">
		<div class="media">
			<a href="#"><img src="/img/m1.jpg"></a>
		</div>
	</div>
	<div class="con">
		<h2>绿竹森然 山泉流水</h2>
		<div class="info">
			<i>春</i>
			<em>秋山海拔337米，宋代大画家李公麟隐居此山时，其主峰曰“九龙从珠”，峥嵘奇特，乃战国时左丘明在此编著《春秋》而得名。东北为杭埠河下游平原，西南麓深壑幽谷，古木绿竹森然，山泉流水淙淙，坡连西南山脉，层峦叠嶂，郁郁葱葱，风光优美，景色怡人。</em>
		</div>
	</div>
	<div class="foot">
		<a href="/index/h5-1.html" class="fl"><i class="am-icon-long-arrow-left"></i>上一页·大别山</a>
		<a href="/index/h5-2.html" class="fr">下一页·万佛湖<i class="am-icon-long-arrow-right"></i></a>
	</div>
</div>
{% include "../_partial/foot.html" %}
