{% include "../_partial/head.html" %}
<div class="index">
	<!-- Header -->
	<header class="am-topbar am-topbar-fixed-top">
	  <a href="#left-nav" data-am-offcanvas class="fl"><i class="am-icon-bars"></i></a>
	  <a href="#" class="fr"><i class="am-icon-search"></i></a>
	</header>

	<!-- 侧边栏内容 -->
	<div id="left-nav" class="am-offcanvas">
	  <div class="am-offcanvas-bar">
	    <div class="am-offcanvas-content">
	      <p>
	        我不愿让你一个人 <br/>
	        承受这世界的残忍 <br/>
	        我不愿眼泪陪你到 永恒
	      </p>
	    </div>
	  </div>
	</div>

	<!-- Slider -->
	<div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{"directionNav":false}'>
	  <ul class="am-slides">
	    <li>
	      <img src="http://s.amazeui.org/media/i/demos/bing-1.jpg">
	    </li>
	    <li>
	      <img src="http://s.amazeui.org/media/i/demos/bing-2.jpg">
	    </li>
	    <li>
	      <img src="http://s.amazeui.org/media/i/demos/bing-3.jpg">
	    </li>
	    <li>
	      <img src="http://s.amazeui.org/media/i/demos/bing-4.jpg">
	    </li>
	  </ul>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

<!-- {% include "../_partial/footer.html" %} {% include "../_partial/foot.html" %} -->
