{% include "../_partial/head.html" %}
<div class="index">
	<!-- Header -->
	<header class="am-topbar am-topbar-fixed-top">
	  <a href="#left-nav" data-am-offcanvas class="fl"><i class="am-icon-bars"></i></a>
	  <a href="javascript:void(0)" class="fr" data-am-modal="{target: '#search'}"><i class="am-icon-search"></i></a>
	</header>

	<!-- 侧边栏内容 -->
	<div id="left-nav" class="am-offcanvas">
	  <div class="am-offcanvas-bar">
	    <div class="am-offcanvas-content">
	      <h2>分类</h2>
	      <ul>
	      	<li><a href="#"><em>—</em>蔬菜瓜果</a></li>
	      	<li><a href="#"><em>—</em>肉禽蛋品</a></li>
	      	<li><a href="#"><em>—</em>水产河鲜</a></li>
	      	<li><a href="#"><em>—</em>粮油副食</a></li>
	      	<li><a href="#"><em>—</em>腌制干货</a></li>
	      </ul>
	    </div>
	  </div>
	</div>

	<!-- Slider -->
	<div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{"directionNav":false}'>
	  <ul class="am-slides">
	    <li>
	      <a href="/index/h5.html"><img src="/img/banner.jpg"></a>
	    </li>
	    <li>
	      <a href="/index/h5.html"><img src="/img/banner.jpg"></a>
	    </li>
	    <li>
	      <a href="/index/h5.html"><img src="/img/banner.jpg"></a>
	    </li>
	    <li>
	      <a href="/index/h5.html"><img src="/img/banner.jpg"></a>
	    </li>
	  </ul>
	</div>
	<div class="catelog text-c">
		<p>
			<a href="/product/detail.html"><img src="/img/media.jpg"></a>
		</p>
		<p class="full">
			<a href="/product/detail.html"><img src="/img/p1.jpg"></a>
		</p>
		<p>
			<a href="/product/detail.html"><img src="/img/p1-1.jpg"></a>
		</p>
		<p>
			<a href="/product/detail.html"><img src="/img/p1-2.jpg"></a>
		</p>
		<p>
			<a href="/product/detail.html"><img src="/img/p1-3.jpg"></a>
		</p>
		<p>
			<a href="/product/detail.html"><img src="/img/p1-4.jpg"></a>
		</p>
		<p>
			<a href="/product/detail.html"><img src="/img/p1-5.jpg"></a>
		</p>
		<p>
			<a href="/product/detail.html"><img src="/img/p1-6.jpg"></a>
		</p>
		<p>
			<a href="/product/detail.html"><img src="/img/p1-7.jpg"></a>
		</p>
		<p>
			<a href="/product/detail.html"><img src="/img/p1-8.jpg"></a>
		</p>
		<p>
			<a href="/product/detail.html"><img src="/img/p1-9.jpg"></a>
		</p>
		<p>
			<a href="/product/detail.html"><img src="/img/p1-10.jpg"></a>
		</p>
		<p>
			<a href="/product/detail.html"><img src="/img/p1-11.jpg"></a>
		</p>
		<p>
			<a href="/product/detail.html"><img src="/img/p1-12.jpg"></a>
		</p>
		<p class="full">
			<a href="/product/detail.html"><img src="/img/p2.jpg"></a>
		</p>
		<p>
			<a href="/product/detail.html"><img src="/img/p2-1.jpg"></a>
		</p>
		<p>
			<a href="/product/detail.html"><img src="/img/p2-2.jpg"></a>
		</p>
		<p>
			<a href="/product/detail.html"><img src="/img/p2-3.jpg"></a>
		</p>
		<p>
			<a href="/product/detail.html"><img src="/img/p2-4.jpg"></a>
		</p>
		<p>
			<a href="/product/detail.html"><img src="/img/p2-5.jpg"></a>
		</p>
		<p>
			<a href="/product/detail.html"><img src="/img/p2-6.jpg"></a>
		</p>
		<p class="full">
			<a href="/product/detail.html"><img src="/img/p3.jpg"></a>
		</p>
		<p>
			<a href="/product/detail.html"><img src="/img/p3-1.jpg"></a>
		</p>
		<p>
			<a href="/product/detail.html"><img src="/img/p3-2.jpg"></a>
		</p>
		<p>
			<a href="/product/detail.html"><img src="/img/p3-3.jpg"></a>
		</p>
		<p class="full">
			<a href="/product/detail.html"><img src="/img/p4.jpg"></a>
		</p>
		<p>
			<a href="/product/detail.html"><img src="/img/p4-1.jpg"></a>
		</p>
		<p>
			<a href="/product/detail.html"><img src="/img/p4-2.jpg"></a>
		</p>
		<p>
			<a href="/product/detail.html"><img src="/img/p4-3.jpg"></a>
		</p>
		<p>
			<a href="/product/detail.html"><img src="/img/p4-4.jpg"></a>
		</p>
		<p>
			<a href="/product/detail.html"><img src="/img/p4-5.jpg"></a>
		</p>
		<p>
			<a href="/product/detail.html"><img src="/img/p4-6.jpg"></a>
		</p>
		<p>
			<a href="/product/detail.html"><img src="/img/p4-7.jpg"></a>
		</p>
		<p>
			<a href="/product/detail.html"><img src="/img/p4-8.jpg"></a>
		</p>
		<p>
			<a href="/product/detail.html"><img src="/img/p4-9.jpg"></a>
		</p>
		<p>
			<a href="/product/detail.html"><img src="/img/p4-10.jpg"></a>
		</p>
	</div>
</div>

<div class="am-popup" id="search">
  <div class="am-popup-inner">
    <div class="am-popup-hd">
      <h4 class="am-popup-title">
      	<input  id="keyword" placeholder="" type="text">
      	<a href="javascript:void(0)"><i class="am-icon-times-circle"></i></a>
      </h4>
      <span data-am-modal-close class="am-close">取消</span>
    </div>
    <div class="am-popup-bd">
      <h2>倾情推荐</h2>
      <p><a href="#">今早新摘的草莓</a></p>
      <p><a href="#">你点我就去抓的土鸡</a></p>
      <p><a href="#">后山的野猪</a></p>
      <p><a href="#"> 山脚下的地瓜</a></p>
      <p><a href="#">小溪边的桃子</a></p>
      <p><a href="#">外婆做的咸菜</a></p>
      <p><a href="#">狗蛋儿钓的鲤鱼</a></p>
      <p><a href="#">菜园里的菠菜</a></p>
    </div>
  </div>
</div>

{% include "../_partial/footer.html" %} {% include "../_partial/foot.html" %}
