<div class="order_ok order_detail">
  {% if data['data'].orderStatusTitle == '去支付' %}
  <div class="list pb0">
    <div class="title">
      <div class="fr"><a href="javascript:void(0)" class="fz16"  id="del_order">取消订单</a></div>
    </div>
  </div>
  {% endif %}
  <div class="list">
    <div class="title">
      <div class="fl">
        {% if data['data'].orderStatusTitle == '去支付' %}
        <h2>未付款</h2>
        {% elseif data['data'].orderStatusTitle == '审核中' %}
        <h2>未发货</h2>
        {% elseif data['data'].orderStatus == 6 %}
        <h2>已完成</h2>
        {% else %}
        <h2>{{ data['data'].orderStatusTitle }}</h2>
        {% endif %}
      </div>
    </div>
    <div class="con">
      <div class="tit">
          <span class="fl">{{ data['data'].consignee }}</span>
          <span class="fl">{{ data['data'].mobile }}</span>
      </div>
      <div class="area mt05">{{ data['data'].address }}</div>
    </div>
    <div class="pub_linex"></div>
    <div class="con">
      <div class="priceList">
        <div class="l">
          <span class="col-grey fl">订单编号</span>
          <span class="col-grey fr">{{ data['data'].OSN }}</span>
        </div>
        <div class="l">
          <span class="col-grey fl">订单时间</span>
          <span class="col-grey fr time">{{ data['data'].addTime }}</span>
        </div>
      </div>
    </div>
    <div class="pub_linex"></div>
    <div class="con">
      {% if data['data'].orderStatusTitle == '去支付' %}
      <div class="priceList">
          <span class="col-grey fl">订单状态</span>
          <span class="col-grey fr">未付款</span>
      </div>
      {% elseif data['data'].orderStatusTitle == '审核中' %}
      <div class="priceList">
          <span class="col-grey fl">订单状态<em>{{ data['data'].orderStatusTitle }}</em></span>
          <span class="col-grey fr"><a href="#" class="ship"><i class="am-icon-truck"></i><em>|</em>跟踪它</a></span>
      </div>
      {% elseif data['data'].orderStatusTitle == '已发货' %}
      <div class="priceList">
          <span class="col-grey fl">订单状态</span>
          <span class="col-grey fr"><a href="#" class="ship"><i class="am-icon-truck"></i><em>|</em>跟踪它</a></span>
      </div>
      {% elseif data['data'].orderStatus == 6 %}
      <div class="priceList">
          <span class="col-grey fl">订单状态</span>
          <span class="col-grey fr"><a href="#" class="ship"><i class="am-icon-truck"></i><em>|</em>跟踪它</a></span>
      </div>
      {% else %}
      <div class="priceList">
          <span class="col-grey fl">订单状态</span>
          <span class="col-grey fr">{{data['data'].orderStatusTitle}}</span>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="list">
    <ul class="list-ul">
    {% set payInfo = ""; %}
        {% for list in data['data'].proList %}
        {% if loop.index <=2 %}
        <li class="list-li">
             <div class="detail">
                  <img src="{{list.proImg}}">
                  <div class="txt">
                  {% set payInfo += list.proName + ',' %}
                    <div class="tit">{{list.proName}}</div>
                    <div class="spec">{{list.proDetail}}</div>
                    <div class="fr">
                      <em>x</em>{{list.number}}
                     </div>
                    <div class="price">￥{{list.proPrice}}<em>￥{{list.marketPrice}}</em></div>
                  </div>
             </div>
         </li>
         {% else %}
         <li class="list-li other">
             <div class="detail">
                  <img src="{{list.proImg}}">
                  <div class="txt">
                  {% set payInfo += list.proName + ',' %}
                    <div class="tit">{{list.proName}}</div>
                    <div class="spec">{{list.proDetail}}</div>
                    <div class="fr">
                      <em>x</em>{{list.number}}
                     </div>
                    <div class="price">￥{{list.proPrice}}<em>￥{{list.marketPrice}}</em></div>
                  </div>
             </div>
         </li>
         {% endif %}
        {% endfor %}
    </ul>
    <div class="more">
      <a href="#">
        <p class="down">查看其它<em id="numOther"></em>件商品</p>
        <p  class="down"><i class="am-icon-chevron-down"></i></p>
        <p class="up">收起</p>
        <p class="up"><i class="am-icon-chevron-up"></i></p>
      </a>
    </div>
  </div>

  <div class="list">
    <a>
      <div class="title">
        <div class="fl">
          <h2>发票信息</h2>
        </div>
        <div class="con">
          <div class="fl">
            <span class="col-grey col-0">{{ data['data'].InvoiceTitle }}</span>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="list">
    <div class="title">
      <div class="fl">
          <h2>备注</h2>
        </div>
    </div>
    <div class="con">
      <div class="fl">
        <span class="col-grey">{{ data['data'].pRemark }}</span>
      </div>
    </div>
  </div>
  <div class="list">
    <div class="title">
      <div class="fl">
          <h2>订单汇总</h2>
        </div>
    </div>
    <div class="con">
      <div class="priceList">
        <span class="col-grey fl">商品总价</span>
        <span class="col-grey fr">¥ {{ (data['data'].productamount*1).toFixed(2) }}</span>
      </div>
      <div class="priceList">
        <span class="col-grey fl">优惠券</span>
        <span class="col-grey fr">¥ {{ (data['data'].couponmoney*1).toFixed(2) }}</span>
      </div>
      <div class="priceList">
        <span class="col-grey fl">余额支付</span>
        <span class="col-grey fr">¥ {{ (data['data'].usedMoney*1).toFixed(2) }}</span>
      </div> 
      <div class="priceList">
        <span class="col-grey fl">运费</span>
        <span class="col-grey fr">¥ {{ (data['data'].expenses*1).toFixed(2) }}</span>
      </div> 
    </div>
    <div class="total">
      <span class="fl col-grey">合计</span>
      <span class="fr col-grey">￥{{ (data['data'].OnlinePayAmount*1).toFixed(2) }}</span>
    </div>
  </div>
</div>
{% if data['data'].orderStatusTitle == '去支付' %}
<header class="am-topbar am-topbar-fixed-bottom detail_foot bge bd0">
  <a href="/profile/order-pay.html?osn={{ data['data'].OSN }}&orderAmount={{ data['data'].OnlinePayAmount }}&TotalAmount={{data['data'].orderAmount}}&CouponMoney={{data['data'].couponmoney}}&userMobile={{data['data'].mobile}}&username={{data['data'].username}}&addressInfo={{escape(data['data'].address)}}&orderId={{data['data'].orderId}}&TotalPrice={{data['data'].productamount}}&payInfo={{payInfo}}"  class="btn buy">去付款</a>
</header>
{% elseif data['data'].orderStatusTitle == '审核中' %}

{% elseif data['data'].orderStatusTitle == '已发货' %}
<header class="am-topbar am-topbar-fixed-bottom detail_foot bge bd0">
  <a href="javascript:void(0)"  class="btn buy" id="ok_shiping">确认收货</a>
</header>
{% elseif data['data'].orderStatus == 6 %}
<!-- <header class="am-topbar am-topbar-fixed-bottom detail_foot bge bd0">
  <a href="javascript:void(0)"  class="btn buy" id="del_order">删除订单</a>
</header> -->
{% endif %}
