{% if "1" == data['code'] && !!data['data'] %} 
{% if data['data']['couponList'].length %}
{% for list in data['data']['couponList'] %}
<li class="can" data-id="{{list.giveMoney}}">
	<a href="javascript:void(0)">
		<img src="/img/couponBg.jpg">
		<div class="txt">
			<p class="price">{{list.giveMoney}}<em>元</em></p>
			<p class="tit">{{list.couponRange}}</p>
			<p class="ps">订单金额高于{{list.threshold}}元可用</p>
			<p class="ps">有效期{{list.startTime}}-{{list.endTime}}</p>
		</div>
	</a>
</li>
{% endfor %}
{% else %}
<li class="pub_noData">
	<p><img src="/img/em1.png"></p>
	<p>耐心等待，<br>二丫会不定期发放优惠券哦！</p>
</li>
{% endif %}
{% endif %}