<div class="title">
	<a href="/profile/address-edit.html" class="fr">新增地址</a>
</div>
{% if "1" == data['code'] %}
	{% if data['data']%}
	<div class="list">
		<ul>
			{% for list in data['data'].receiverList %}
			<li class="default">
				<div class="tit">
					<span class="fl">{{ list.Consignee }}</span>
					<span class="fr">{{list.Mobile}}</span>
				</div>
				<div class="area">{{list.ProvinceName}}，{{list.CityName}}，{{list.CountyName}}，{{list.Address}}</div>
				<div class="btn">
					{% if list.isdefault == 1%}
					<span class="fl">-默认地址</span>
					{% endif %}
					<div class="fr">
						<a href="/profile/address-edit.html?said={{list.said}}"><i class="am-icon-edit"></i>编辑</a>
						<em>|</em>
						<a href="javascript:void(0)" data-id="{{list.said}}"><i class="am-icon-trash-o"></i>删除</a>
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
	{% else %}
	<div class="pub_noData">
		<p><img src="/img/em2.png"></p>
		<p>没有地址狗蛋不知道往哪送哦！</p>
	</div>
{% endif %}