<div class="title">
	<a href="/profile/address-edit.html" class="fr">新增地址</a>
</div>
{% if "1" == data['code'] %}
	{% if data['data']%}
	<div class="list">
		<ul>
			{% for list in data['data'] %}
			<li class="default">
				<div class="tit">
					<span class="fl">小二丫（收）</span>
					<span class="fr">13918579133</span>
				</div>
				<div class="area">上海，上海，闵行区，黎安路688号强劲大厦606-608号鹿顶 记</div>
				<div class="btn">
					<span class="fl">-默认地址</span>
					<div class="fr">
						<a href="/profile/address-edit.html"><i class="am-icon-edit"></i>编辑</a>
						<em>|</em>
						<a href=""><i class="am-icon-trash-o"></i>删除</a>
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
	{% else %}
	<div class="pub_noData">
		<p><img src="/img/em2.png"></p>
		<p>没有地址狗蛋不知道往哪送哦！</p>
	</div>
{% endif %}