{% include "../_partial/head.html" %}
<style type="text/css">
	body{
		background: #f4f0e6;
	}
</style>
<div class="cishan">
	<p><img src="/img/ci_1.jpg"></p>
	<div class="con">
		<p><img src="/img/ci.png"></p>
		<ul>
			<li>
				<img src="/img/cibg.png"><em>5</em>
			</li>
			<li>
				<img src="/img/cibg.png"><em>5</em>
			</li>
			<li>
				<img src="/img/cibg.png"><em>5</em>
			</li>
			<li>
				<img src="/img/cibg.png"><em>5</em>
			</li>
			<li class="dian">.</li>
			<li>
				<img src="/img/cibg.png"><em>5</em>
			</li>
			<li>
				<img src="/img/cibg.png"><em>5</em>
			</li>
		</ul>
	</div>
	<div class="num">
		<span><i class="am-icon-users"></i>已有<em>24563</em>人已捐款</span>
	</div>
	<div class="data">
		<img src="/img/cit.png">
		<marquee scrollamount="2" direction="up" >
			<ul>
				<li>
					<span class="fl"><em>.</em>用户“疯子***”捐款 600元</span>
					<span class="fr">07-01 14:23:56</span>
				</li>
				<li>
					<span class="fl"><em>.</em>用户“疯子***”捐款 600元</span>
					<span class="fr">07-01 14:23:56</span>
				</li>
				<li>
					<span class="fl"><em>.</em>用户“疯子***”捐款 600元</span>
					<span class="fr">07-01 14:23:56</span>
				</li>
				<li>
					<span class="fl"><em>.</em>用户“疯子***”捐款 600元</span>
					<span class="fr">07-01 14:23:56</span>
				</li>
				<li>
					<span class="fl"><em>.</em>用户“疯子***”捐款 600元</span>
					<span class="fr">07-01 14:23:56</span>
				</li>
				<li>
					<span class="fl"><em>.</em>用户“疯子***”捐款 600元</span>
					<span class="fr">07-01 14:23:56</span>
				</li>
				<li>
					<span class="fl"><em>.</em>用户“疯子***”捐款 600元</span>
					<span class="fr">07-01 14:23:56</span>
				</li>
				<li>
					<span class="fl"><em>.</em>用户“疯子***”捐款 600元</span>
					<span class="fr">07-01 14:23:56</span>
				</li>
			</ul>
		</marquee>
		<p>暂无数据！</p>
	</div>
	<div class="con mb1">
		<p><img src="/img/ciabout.png"></p>
	</div>
	<p><img src="/img/ci_con.jpg"></p>
</div>
{% include "../_partial/foot.html" %}
<script src="js/cishan/cishan.js"></script>