<ul class="am-avg-sm-4 navbar navbar-footer">
    <li class="navbar-li ">
        <a href="/public/shop.html" data-url="" class="active">
            <p><i class="am-icon-home am-icon-sm"></i></p>
            <p>首页</p>
        </a>
    </li>
    <li class="navbar-li">
        <a href="/course/course.html" data-url="/course/course.html,/till/till.html">
            <p><i class="am-icon-bank am-icon-sm"></i></p>
            <p>宅配</p>
        </a>
    </li>
    <li class="navbar-li">
        <a href="/market/market.html">
        <a href="javascript:;" data-url="">
            <p><i class="am-icon-shopping-basket am-icon-sm"></i></p>
            <p>菜篮子</p>
        </a>
    </li>
    <li class="navbar-li">
        <a href="/profile/profile.html" data-url="/profile/profile.html">
            <p><i class="am-icon-user am-icon-sm"></i></p>
            <p>我的</p>
        </a>
    </li>
    <li class="navbar-li">
        <a href="/profile/profile.html" data-url="/profile/profile.html">
            <p><i class="am-icon-bullhorn am-icon-sm"></i></p>
            <p>推广</p>
        </a>
    </li>
</ul>