<ul class="am-avg-sm-4 navbar navbar-footer">
    <li class="navbar-li ">
        <a href="/index/index.html" data-url="" class="active">
            <p><img src="/img/Hume@2.png" class="default"><img src="/img/Hume1@2.png" class="cur"></p>
            <p>首页</p>
        </a>
    </li>
    <li class="navbar-li">
        <a href="http://xian17.com/h5/secend.html" data-url="/package/package.html,/package/package.html">
            <p><img src="/img/classify＠2.png" class="default"><img src="/img/classify1＠2.png" class="cur"></p>
            <p>宅配</p>
        </a>
    </li>
    <li class="navbar-li">
        <a href="/basket/basket.html">
            <p><img src="/img/basket＠2.png" class="default"><img src="/img/basket1＠２.png" class="cur"></p>
            <p>菜篮子</p>
        </a>
    </li>
    <li class="navbar-li">
        <a href="/profile/profile.html" data-url="/profile/profile.html">
            <p><img src="/img/my@2.png" class="default"><img src="/img/my1@2.png" class="cur"></p>
            <p>我的</p>
        </a>
    </li>
    <li class="navbar-li">
        <a href="/sale/index.html" data-url="/sale/index.html">
            <p><img src="/img/promotion@2.png" class="default"><img src="/img/promotion1@2.png" class="cur"></p>
            <p>推广</p>
        </a>
    </li>
</ul>