<ul class="am-avg-sm-4 navbar navbar-footer">
    <li class="navbar-li ">
        <a href="/public/shop.html" data-url="" class="active">
            <p><i class="icon-Hume1_3 myfont"></i></p>
            <p>首页</p>
        </a>
    </li>
    <li class="navbar-li">
        <a href="/package/package.html" data-url="/package/package.html,/package/package.html">
            <p><i class="icon-classify1_3_p myfont"></i></p>
            <p>宅配</p>
        </a>
    </li>
    <li class="navbar-li">
        <!-- <a href="/market/market.html"> -->
        <a href="javascript:;" data-url="">
            <p><i class="icon-basket_3_p myfont"></i></p>
            <p>菜篮子</p>
        </a>
    </li>
    <li class="navbar-li">
        <a href="/profile/profile.html" data-url="/profile/profile.html">
            <p><i class="icon-my_3 myfont"></i></p>
            <p>我的</p>
        </a>
    </li>
    <li class="navbar-li">
        <a href="/profile/profile.html" data-url="/profile/profile.html">
            <p><i class="icon-promotion_3 myfont"></i></p>
            <p>推广</p>
        </a>
    </li>
</ul>