{% include "../_partial/head.html" %}
<script type="text/javascript">
var pid = "{{pid}}";
</script>
<style type="text/css">
    .am-panel{
        box-shadow: none;
    }
</style>
<div class="index detail">
    <!-- Header -->
    <header class="am-topbar am-topbar-fixed-top bg0">
        <a href="/basket/basket.html" class="fr pub_basket"><i class="icon-basket_3x"><em class="basketNumTxt"></em></i></a>
    </header>
    <!-- Slider -->
    <div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{"directionNav":false}'>
        <ul class="am-slides" id="imgs">
        </ul>
        <a href="javascript:void(0)" class="media" id="media" data-id="0"><i class="am-icon-caret-left"></i></a>
    </div>
    <div class="info">
        <h2 id="Name"></h2>
        <div class="price" id="ShopPrice"></div>
        <div class="spec">
            <span id="weight"></span>
        </div>
        <div class="num">
            <span class="fl">库存：<em id="StockNum"></em></span>
            <span class="fr" id="shipAddres">安徽</span>
        </div>
        <div class="ps" id="ps">
            
            
        </div>
    </div>
    <div class="select">
        <a href="javascript:void(0)" id="openmodel">
            <span id="selected">已选择：</span>
        </a>
        <i class="am-icon-angle-right"></i>
    </div>
    <div class="line">
        <span>继续拖动，查看图文详情</span>
    </div>
    <div class="am-panel am-panel-default nav-tab" style="display: none">
        <a href="javascript:void(0)" class="cur" data-id="pic">图文说</a>
        <span>|</span>
        <a href="javascript:void(0)" data-id="tips">小提示</a>
        <a href="/basket/basket.html" class="fr pub_basket"><i class="icon-basket_3x"><em class="basketNumTxt"></em></i></a>
    </div>
    <div class="con">
        <div class="tips">
            <p id="tips"><img src="/img/eryalogo@2x.png"></p>
        </div>
        <div class="pic" id="Description">
        </div>
    </div>
</div>
<header class="am-topbar am-topbar-fixed-bottom detail_foot">
</header>
<div class="am-modal-actions pdetail_modal" id="my-actions">
    <div class="am-modal-actions-group">
        <div class="pinfo">
            <img src="" id="skuImg">
            <div class="info">
                <p class="price txt-l">￥<em id="skuPrice"></em></p>
                <p>已选：<em id="skuSelected"></em></p>
            </div>
            <a href="javascript:void(0)" data-am-modal-close class="close"><i class="am-icon-remove"></i></a>
        </div>
        <div class="select" id="sku">
        </div>
    </div>
</div>
{% include "../_partial/foot.html" %}

<script src="/plugins/wechat.min.js"></script>
{% include "../_partial/share.html" %}
<script src="/js/product/detail.js"></script>