{% include "../_partial/head.html" %}
<script type="text/javascript">
	var categoryId = "{{categoryId}}";
</script>
<div class="product">
    <!-- Header -->
    <header class="am-topbar am-topbar-fixed-top">
        <a href="javascript:void(0)" data-am-modal="{target: '#search'}" class="fl">列表页<i class="am-icon-angle-down"></i></a>
        <a href="javascript:void(0)" class="fr" id="keyword"><i class="am-icon-search"></i></a>
        <div class="search">
            <form id="searchForm" method='get' action="">
                <input type="text" id="keywords"> 
                <a href="javascript:void(0)" id="deltxt"><img src="/img/quxiao@3x.png"></a>
            </form>
        </div>
    </header>
    <div class="tab">
        <ul>
            <li>
                <a href="javascript:void(0)" class="cur" data-id="defult">新鲜货</a>
            </li>
            <li>
                <a href="javascript:void(0)" data-id="sortcolumn">卖的多</a>
            </li>
            <li>
                <a href="javascript:void(0)" data-id="sortdirection">拍价格<i class="am-icon-caret-down"></i><i class="am-icon-caret-up"></i></a>
            </li>
        </ul>
    </div>
    <!-- Gallery -->
    <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2 am-avg-md-3 am-avg-lg-4 am-gallery-default">
        <li class="no-data"><p><img src="/img/em3.png"></p><p>二丫家还没有这款商品诶~ <br>您再看看别哒~</p></li>
    </ul>
</div>
<div class="am-popup list_popup" id="search">
    <div class="am-popup-inner">
        <div class="am-popup-hd">
            <a data-am-modal-close href="javascript:void(0)" data-am-modal="{target: '#search'}">列表页<i class="am-icon-angle-up"></i></a>
        </div>
        <div class="am-popup-bd" id="listNav">

        </div>
    </div>
</div>
{% include "../_partial/foot.html" %}
<script src="/js/product/list.js"></script>
