{% include "../_partial/head.html" %}
<div class="product">
	<!-- Header -->
	<header class="am-topbar am-topbar-fixed-top">
	  <a href="javascript:void(0)" data-am-modal="{target: '#search'}" class="fl">列表页<i class="am-icon-angle-down"></i></a>
	  <a href="javascript:void(0)" class="fr"><i class="am-icon-search"></i></a>
	</header>

	<div class="tab">
		<ul>
			<li>
				<a href="javascript:void(0)" class="cur">新鲜货</a>
			</li>
			<li>
				<a href="javascript:void(0)">卖的多</a>
			</li>
			<li>
				<a href="javascript:void(0)">拍价格<i class="am-icon-caret-down"></i></a>
			</li>
		</ul>
	</div>
	<!-- Gallery -->
	<ul data-am-widget="gallery" class="am-gallery am-avg-sm-2 am-avg-md-3 am-avg-lg-4 am-gallery-default">
	  <li>
	    <div class="am-gallery-item">
	      <a href="#">
	        <img src="/img/t1.jpg"  />
	        <h3 class="am-gallery-title">二丫和狗蛋天然种植绿奇异果</h3>
	        <p>550g</p>
	        <div class="am-gallery-desc">￥89.90</div>
	      </a>
	    </div>
	  </li>
	  <li>
	    <div class="am-gallery-item">
	      <a href="#">
	        <img src="/img/t2.jpg"  />
	        <h3 class="am-gallery-title">二丫和狗蛋天然种植绿奇异果</h3>
	        <p>550g</p>
	        <div class="am-gallery-desc">￥89.90</div>
	      </a>
	    </div>
	  </li>
	  <li>
	    <div class="am-gallery-item">
	      <a href="#">
	        <img src="/img/t3.jpg"  />
	        <h3 class="am-gallery-title">二丫和狗蛋天然种植绿奇异果</h3>
	        <p>550g</p>
	        <div class="am-gallery-desc">￥89.90</div>
	      </a>
	    </div>
	  </li>
	  <li>
	    <div class="am-gallery-item">
	      <a href="#">
	        <img src="/img/t4.jpg"  />
	        <h3 class="am-gallery-title">二丫和狗蛋天然种植绿奇异果</h3>
	        <p>550g</p>
	        <div class="am-gallery-desc">￥89.90</div>
	      </a>
	    </div>
	  </li>
	  <li>
	    <div class="am-gallery-item">
	      <a href="#">
	        <img src="/img/t1.jpg"  />
	        <h3 class="am-gallery-title">二丫和狗蛋天然种植绿奇异果</h3>
	        <p>550g</p>
	        <div class="am-gallery-desc">￥89.90</div>
	      </a>
	    </div>
	  </li>
	  <li>
	    <div class="am-gallery-item">
	      <a href="#">
	        <img src="/img/t2.jpg"  />
	        <h3 class="am-gallery-title">二丫和狗蛋天然种植绿奇异果</h3>
	        <p>550g</p>
	        <div class="am-gallery-desc">￥89.90</div>
	      </a>
	    </div>
	  </li>
	  <li>
	    <div class="am-gallery-item">
	      <a href="#">
	        <img src="/img/t3.jpg"  />
	        <h3 class="am-gallery-title">二丫和狗蛋天然种植绿奇异果</h3>
	        <p>550g</p>
	        <div class="am-gallery-desc">￥89.90</div>
	      </a>
	    </div>
	  </li>
	  <li>
	    <div class="am-gallery-item">
	      <a href="#">
	        <img src="/img/t4.jpg"  />
	        <h3 class="am-gallery-title">二丫和狗蛋天然种植绿奇异果</h3>
	        <p>550g</p>
	        <div class="am-gallery-desc">￥89.90</div>
	      </a>
	    </div>
	  </li>
	</ul>
</div>

<div class="am-popup" id="search">
  <div class="am-popup-inner">
    <div class="am-popup-hd">
      <a data-am-modal-close href="javascript:void(0)" data-am-modal="{target: '#search'}">列表页<i class="am-icon-angle-up"></i></a>
    </div>
    <div class="am-popup-bd">
      <dl>
      	<dt><a href="javascript:void(0)">蔬菜瓜果</a></dt>
      	<dd>
      		<a href="#">所有商品</a>
      		<a href="#">豆类</a>
      		<a href="#">根茎类</a>
      		<a href="#">葱蒜类</a>
      		<a href="#">茄果类</a>
      	</dd>
      </dl>
      <dl>
      	<dt><a href="javascript:void(0)">肉禽蛋品</a></dt>
      	<dd>
      		<a href="#">所有商品</a>
      		<a href="#">豆类</a>
      		<a href="#">根茎类</a>
      		<a href="#">葱蒜类</a>
      		<a href="#">茄果类</a>
      	</dd>
      </dl>
      <dl>
      	<dt><a href="javascript:void(0)">水产河鲜</a></dt>
      	<dd>
      		<a href="#">所有商品</a>
      		<a href="#">豆类</a>
      		<a href="#">根茎类</a>
      		<a href="#">葱蒜类</a>
      		<a href="#">茄果类</a>
      	</dd>
      </dl>
      <dl>
      	<dt><a href="javascript:void(0)">粮油副食</a></dt>
      	<dd>
      		<a href="#">所有商品</a>
      		<a href="#">豆类</a>
      		<a href="#">根茎类</a>
      		<a href="#">葱蒜类</a>
      		<a href="#">茄果类</a>
      	</dd>
      </dl>
      <dl>
      	<dt><a href="javascript:void(0)">腌制干货</a></dt>
      	<dd>
      		<a href="#">所有商品</a>
      		<a href="#">豆类</a>
      		<a href="#">根茎类</a>
      		<a href="#">葱蒜类</a>
      		<a href="#">茄果类</a>
      	</dd>
      </dl>
      <dl>
      	<dt><a href="javascript:void(0)">宅配套餐</a></dt>
      	<dd>
      		<a href="#">所有商品</a>
      		<a href="#">豆类</a>
      		<a href="#">根茎类</a>
      		<a href="#">葱蒜类</a>
      		<a href="#">茄果类</a>
      	</dd>
      </dl>
    </div>
  </div>
</div>

{% include "../_partial/foot.html" %}
<script src="/js/product/list.js"></script>
