{% include "../_partial/head.html" %}
<div class="index profile">
    <div class="pinfo">
        <img src="/img/profileBg.jpg">
        <div class="con">
            <div class="img">
                <img src="/img/circle.png" class="bg">
                <img src="#" class="people">
                <a href="/sale/setting/main.html" class="set setting"><i class="icon-shezhi_3x"></i></a>
            </div>
            <div class="txt">
                <p class="tit"></p>
                <p class="UserIdentity"></p>
                <p class="link"><a href="/profile/how_1.html">爱心传递</a></p>
            </div>
        </div>
        <!-- <div class="con">
            <div class="img">
                <img src="/img/circle.png" class="bg">
                <img src="/img/t1.jpg" class="people">
                <a href="/profile/set.html" class="set"><i class="icon-shezhi_3x"></i></a>
            </div>
            <div class="txt">
                <p class="tit">- 我就是小二丫 -</p>
                <p>身份：健康推广大使</p>
                <p class="link"><a href="/profile/how_3.html">如何恢复身份？</a></p>
            </div>
        </div>
        <div class="con">
            <div class="img">
                <img src="/img/circle.png" class="bg">
                <img src="/img/t1.jpg" class="people">
                <a href="/profile/set.html" class="set"><i class="icon-shezhi_3x"></i></a>
            </div>
            <div class="txt">
                <p class="tit">- 我就是小二丫 -</p>
                <p>身份：普通会员</p>
                <p class="link"><a href="/profile/how_2.html">如何成为健康推广大使？</a></p>
            </div>
        </div> -->
    </div>
    <div class="mySale">
        <div class="list mt05">
            <div class="tit"><span class="fl"><a href="javascript:void(0)" data-am-modal="{target: '#my-alert'}">本月任务<em><i class="am-icon-question-circle"></i></em></span></a>
            </div>
            <div class="IdentityStateDisable">
                <div class="price0">
                    <div class="img"><img src="/img/salebg-g.png"></div>
                    <span class="disable">单笔实付<em class="col-z">100</em>元</span>
                </div>
                <div class="time"><strong>未完成任务！</strong></div>
            </div>
            <div class="IdentityStateActive">
                <div class="price0">
                    <div class="img"><img src="/img/salebg.png"></div>
                    <span>单笔实付<em class="col-z">100</em>元</span>
                </div>
                <div class="time">距截止还有<em>00</em>天<em>00</em>时<em>00</em>分<em>00</em>秒 </div>
            </div>
        </div>
        <div class="list">
            <a href="/sale/price.html" class="link-toPrice">
                <div class="tit">
                    <span class="fl">我的收益（元）</span>
                    <span class="fr"><i class="am-icon-angle-right"></i></span>
                </div>
            </a>
            <div class="price">
                <div class="l">
                    <p class="t FrozenMoney">0.00</p>
                    <p>冻结中</p>
                </div>
                <div class="l">
                    <p class="t WithdrawMoney">0.00</p>
                    <p>可提现</p>
                </div>
            </div>
        </div>
        <div class="list">
            <a href="javascript:void(0);" class="link-toCode">
                <div class="tit">
                    <span class="fl">我的二维码</span>
                    <span class="fr"><i class="am-icon-angle-right"></i></span>
                </div>
            </a>
        </div>
        <div class="list">
            <a href="/sale/team.html" class="link-toTeam">
                <div class="tit">
                    <span class="fl">我的团队</span>
                    <span class="fr"><i class="am-icon-angle-right"></i></span>
                </div>
            </a>
        </div>
        <div class="list">
            <a href="/sale/sale.html" class="link-toSale">
                <div class="tit">
                    <span class="fl">我的销量</span>
                    <span class="fr"><i class="am-icon-angle-right"></i></span>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">本月任务说明</div>
        <div class="am-modal-bd txt-l mt1">
            1、成为健康推广大使的第四个自然月开始（一个自然月按30天计算），每月需完成单笔消费额（不含运费）≥100元的任务；
            <br> 2、未完成任务的“健康推广大使”，从第五个自然月开始：a.健康推广大使身份失效；b.个人专属二维码失效；c.无法获得身份失效日之后的提成。
            <br> 3、身份失效之后任意时间（此时间需后台可配置），重新消费单笔（不含运费）≥100元，可重新获取“健康推广大使”的的身份，个人专属二维码恢复可用（不另行变更），并享受下线销售提成。
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn col-g">确定</span>
        </div>
    </div>
</div>
{% include "../_partial/footer.html" %} {% include "../_partial/foot.html" %}
<script src="/js/sale/index.js"></script>
