{% include "../_partial/head.html" %}
<div class="index profile">
	<div class="pinfo">
		<img src="/img/profileBg.jpg">
		<div class="con">
			<div class="img">
				<img src="/img/jiankangdashi@2x.png" class="bg">
				<img src="/img/t1.jpg" class="people">
				<a href="/profile/set.html" class="set"><i class="icon-shezhi_3x"></i></a>
			</div>
			<div class="txt">
				<p class="tit">- 我就是小二丫 -</p>
				<p>身份：健康推广大使</p>
				<p class="link"><a href="#">如何推广？</a></p>
			</div>
		</div>
	</div>
	<div class="mySale">
		<div class="list mt05">
			<div class="tit"><span class="fl">本月任务<em><i class="am-icon-question-circle"></i></em></span></div>
			 <div class="status">
		        <em>50%</em>
		        <div class="line">
		            <span style="width:50%"></span>
		        </div>
		    </div>
		    <div class="time">剩余任务时间<em>29</em>天<em>23</em>时<em>59</em>分 </div>
		</div>
		<div class="list">
			<a href="/sale/price.html">
				<div class="tit">
					<span class="fl">我的推广费（元）</span>
					<span class="fr"><i class="am-icon-angle-right"></i></span>
				</div>
			</a>
			<div class="price">
				<div class="l">
					<p class="t">600.00</p>
					<p>推广费</p>
				</div>
				<div class="l">
					<p class="t">600.00</p>
					<p>可提现</p>
				</div>
			</div>
		</div>
		<div class="list">
			<a href="/sale/code.html">
				<div class="tit">
					<span class="fl">我的二维码</span>
					<span class="fr"><i class="am-icon-angle-right"></i></span>
				</div>
			</a>
		</div>
		<div class="list">
			<a href="/sale/team.html">
				<div class="tit">
					<span class="fl">我的团队</span>
					<span class="fr"><i class="am-icon-angle-right"></i></span>
				</div>
			</a>
		</div>
		<div class="list">
			<a href="/sale/sale.html">
				<div class="tit">
					<span class="fl">我的销量</span>
					<span class="fr"><i class="am-icon-angle-right"></i></span>
				</div>
			</a>
		</div>
	</div>
</div>

{% include "../_partial/footer.html" %} {% include "../_partial/foot.html" %}

