{% include "../_partial/head.html" %}
<section class="request-withdraw">
    <ul>
        <a href="/sale/withdraw-alipay.html">
            <li>
                <p>
                    提现至支付宝
                    <i class="am-icon-angle-right"></i>
                </p>
            </li>
        </a>
        <a href="#">
            <li>
                <p>
                    提现至银行卡
                    <i class="am-icon-angle-right"></i>
                </p>
            </li>
        </a>
    </ul>
</section>
{% include "../_partial/foot.html" %}
