{% include "../_partial/head.html" %}
<div class="mySale">
    <div class="saleList">
        <div class="price">
            <div class="tit">
                <span class="fl">下级销量（元）</span>
                <a href="javascript:void(0)" class="fr" data-am-modal="{target: '#my-actions'}">筛选</a>
            </div>
            <div class="col-g totalSales">0</div>
            <div class="t">
                <em>合计佣金（元）</em>
                <br>
                <span class="totalCommission">0</span>
            </div>
        </div>
        <div class="cord">
            <h2>销量纪录</h2>
            <!-- <table>
                <tbody>
                    <tr>
                        <th class="moth" colspan="2">2016-06</th>
                    </tr>
                    <tr class="bg">
                        <th class="txt-l">一级健康推广大使及普通会员</th>
                        <th class="col-z txt-r">比例:10%</th>
                    </tr>
                    <tr>
                        <td class="txt-c">消费金额 (元）</td>
                        <td class="txt-c">抽取佣金 （元）</td>
                    </tr>
                    <tr>
                        <td class="txt-c">7040.00</td>
                        <td class="txt-c">7040.00</td>
                    </tr>
                    <tr class="bg">
                        <th class="txt-l">二级健康推广大使及普通会员</th>
                        <th class="col-z txt-r">比例:5%</th>
                    </tr>
                    <tr>
                        <td class="txt-c">消费金额 (元）</td>
                        <td class="txt-c">抽取佣金 （元）</td>
                    </tr>
                    <tr>
                        <td class="txt-c">7040.00</td>
                        <td class="txt-c">7040.00</td>
                    </tr>
                    <tr class="bg">
                        <th class="txt-l">三级健康推广大使及普通会员</th>
                        <th class="col-z txt-r">比例:3%</th>
                    </tr>
                    <tr>
                        <td class="txt-c">消费金额 (元）</td>
                        <td class="txt-c">抽取佣金 （元）</td>
                    </tr>
                    <tr>
                        <td class="txt-c">7040.00</td>
                        <td class="txt-c">7040.00</td>
                    </tr>
                    <tr class="total">
                        <td class="txt-c"><em>小计</em>7040.00</td>
                        <td class="txt-c">7040.00</td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <th class="moth" colspan="2">2016-07</th>
                    </tr>
                    <tr class="bg">
                        <th class="txt-l">一级健康推广大使及普通会员</th>
                        <th class="col-z txt-r">比例:10%</th>
                    </tr>
                    <tr>
                        <td class="txt-c">消费金额 (元）</td>
                        <td class="txt-c">抽取佣金 （元）</td>
                    </tr>
                    <tr>
                        <td class="txt-c">7040.00</td>
                        <td class="txt-c">7040.00</td>
                    </tr>
                    <tr class="bg">
                        <th class="txt-l">二级健康推广大使及普通会员</th>
                        <th class="col-z txt-r">比例:5%</th>
                    </tr>
                    <tr>
                        <td class="txt-c">消费金额 (元）</td>
                        <td class="txt-c">抽取佣金 （元）</td>
                    </tr>
                    <tr>
                        <td class="txt-c">7040.00</td>
                        <td class="txt-c">7040.00</td>
                    </tr>
                    <tr class="bg">
                        <th class="txt-l">三级健康推广大使及普通会员</th>
                        <th class="col-z txt-r">比例:3%</th>
                    </tr>
                    <tr>
                        <td class="txt-c">消费金额 (元）</td>
                        <td class="txt-c">抽取佣金 （元）</td>
                    </tr>
                    <tr>
                        <td class="txt-c">7040.00</td>
                        <td class="txt-c">7040.00</td>
                    </tr>
                    <tr class="total">
                        <td class="txt-c"><em>小计</em>7040.00</td>
                        <td class="txt-c">7040.00</td>
                    </tr>
                </tbody>
            </table> -->
        </div>
        <div class="pub_more">-滑动加载更多-</div>
    </div>
</div>
<div class="am-modal-actions pdetail_modal" id="my-actions">
    <div class="am-modal-actions-group">
        <div class="record">
            <ul>
                <a href="javascript:void(0);" data-condition = "0">
                    <li>全部纪录</li>
                </a>
                <a href="javascript:void(0)" data-condition = "1">
                    <li>
                        最近三个月记录
                    </li>
                </a>
                <a href="javascript:void(0)" data-condition = "2">
                    <li>
                        最近一年记录
                    </li>
                </a>
                <a href="javascript:void(0)" data-am-modal="{target: '#my-actions'}">
                    <li>
                        <em>X</em>
                    </li>
                </a>
            </ul>
        </div>
    </div>
</div>
{% include "../_partial/foot.html" %}
<script src="/js/sale/sale.js"></script>
