{% include "../_partial/head.html" %}
<div class="mySale">
	<div class="saleList">
		<div class="price">
			<div class="tit">
				<span class="fl">下级销量（元）</span>
				<a href="javascript:void(0)" class="fr" data-am-modal="{target: '#my-actions'}">筛选</a>
			</div>
			<div class="col-g">1285<em>.00</em></div>
			<div class="t">
				合计佣金（元）<br>1236.00
			</div>
		</div>
		<div class="cord">
			<h2>销量纪录</h2>
			<table>
				<thead>2016-06</thead>
				<colgroup>
                    <col style="width:33%">
                    <col style="width:33%">
                    <col style="width:33%">
                </colgroup>
				<tbody>
					<tr>
						<th>会员类别</th><th>消费金额(元）</th><th>抽取佣金</th>
					</tr>
					<tr>
						<td class="txt-l">一级健康推广大使</td>
						<td class="txt-r">352000</td>
						<td class="txt-r">7040.00</td>
					</tr>
					<tr>
						<td class="txt-l">一级健康推广大使</td>
						<td class="txt-r">14124</td>
						<td class="txt-r">7040.00</td>
					</tr>
					<tr>
						<td class="txt-l">一级健康推广大使</td>
						<td class="txt-r">756</td>
						<td class="txt-r">765.00</td>
					</tr>
					<tr>
						<td class="txt-l">一级健康推广大使</td>
						<td class="txt-r">75</td>
						<td class="txt-r">7040.00</td>
					</tr>
					<tr>
						<td class="txt-l">一级健康推广大使</td>
						<td class="txt-r">57</td>
						<td class="txt-r">7040.00</td>
					</tr>
				</tbody>
			</table>
			<table>
				<thead>2016-06</thead>
				<colgroup>
                    <col style="width:33%">
                    <col style="width:33%">
                    <col style="width:33%">
                </colgroup>
				<tbody>
					<tr>
						<th>会员类别</th><th>消费金额(元）</th><th>抽取佣金</th>
					</tr>
					<tr>
						<td class="txt-l">一级健康推广大使</td>
						<td class="txt-r">352000</td>
						<td class="txt-r">7040.00</td>
					</tr>
					<tr>
						<td class="txt-l">一级健康推广大使</td>
						<td class="txt-r">14124</td>
						<td class="txt-r">7040.00</td>
					</tr>
					<tr>
						<td class="txt-l">一级健康推广大使</td>
						<td class="txt-r">756</td>
						<td class="txt-r">765.00</td>
					</tr>
					<tr>
						<td class="txt-l">一级健康推广大使</td>
						<td class="txt-r">75</td>
						<td class="txt-r">7040.00</td>
					</tr>
					<tr>
						<td class="txt-l">一级健康推广大使</td>
						<td class="txt-r">57</td>
						<td class="txt-r">7040.00</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="pub_more">-滑动加载更多-</div>
	</div>
</div>



<div class="am-modal-actions pdetail_modal" id="my-actions">
  <div class="am-modal-actions-group">
  	<div class="record">
  		<ul>
  			<li>全部纪录</li>
  			<li>
  				<a href="javascript:void(0)">最近三个月记录</a>
  			</li>
  			<li>
  				<a href="javascript:void(0)">最近一年记录</a>
  			</li>
  			<li>
  				<a href="javascript:void(0)" data-am-modal="{target: '#my-actions'}"><em>X</em></a>
  			</li>
  		</ul>
  	</div>
  </div>
</div>
{% include "../_partial/footer.html" %} {% include "../_partial/foot.html" %}