{% include "../_partial/head.html" %}
<div class="index profile">
	<div class="pinfo">
		<img src="/img/profileBg.jpg">
		<div class="con">
			<div class="img">
				<img src="/img/jiankangdashi@2x.png" class="bg">
				<img src="/img/t1.jpg" class="people">
			</div>
			<div class="txt">
				<p class="tit">- 我就是小二丫 -</p>
				<p>身份：健康推广大使</p>
			</div>
		</div>
	</div>
	<div class="mySale">
		<div class="team">
			<div class="list pt0 pb0">
				<ul class="am-list admin-sidebar-list" id="collapase-nav-1">
				  <li class="am-panel">
				    <a data-am-collapse="{parent: '#collapase-nav-1', target: '#user-nav'}">
				        <em>一级健康推广团队</em> <i class="am-icon-chevron-down am-fr am-margin-right"></i>
				    </a>
				    <ul class="am-list am-collapse admin-sidebar-sub" id="user-nav">
				        <li><a href="/sale/team-detail.html">一级健康推广大使 <i class="am-icon-angle-right am-fr am-margin-right"></i><i class="am-fr">0</i></a></li>
				        <li><a href="/sale/team-detail.html">普通会员 <i class="am-icon-angle-right am-fr am-margin-right"></i><i class="am-fr">199</i></a></li>
				    </ul>
				  </li>
				</ul>
			</div>
			<div class="list pt0 pb0">
				<ul class="am-list admin-sidebar-list" id="collapase-nav-1">
				  <li class="am-panel">
				    <a data-am-collapse="{parent: '#collapase-nav-1', target: '#company-nav'}">
				        <em>二级健康推广团队</em> <i class="am-icon-chevron-down am-fr am-margin-right"></i>
				    </a>
				    <ul class="am-list am-collapse admin-sidebar-sub" id="company-nav">
				        <li><a href="/sale/team-detail.html">二级健康推广大使 <i class="am-icon-angle-right am-fr am-margin-right"></i><i class="am-fr">199</i></a></li>
				        <li><a href="/sale/team-detail.html">普通会员 <i class="am-icon-angle-right am-fr am-margin-right"></i><i class="am-fr">199</i></a></li>
				    </ul>
				  </li>
				</ul>
			</div>
			<div class="list pt0 pb0">
				<ul class="am-list admin-sidebar-list" id="collapase-nav-1">
				  <li class="am-panel">
				    <a data-am-collapse="{parent: '#collapase-nav-1', target: '#role-nav'}">
				        <em>三级健康推广团队</em> <i class="am-icon-chevron-down am-fr am-margin-right"></i>
				    </a>
				    <ul class="am-list am-collapse admin-sidebar-sub" id="role-nav">
				        <li><a href="/sale/team-detail.html">三级健康推广大使 <i class="am-icon-angle-right am-fr am-margin-right"></i><i class="am-fr">199</i></a></li>
				        <li><a href="/sale/team-detail.html">普通会员 <i class="am-icon-angle-right am-fr am-margin-right"></i><i class="am-fr">199</i></a></li>
				    </ul>
				  </li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% include "../_partial/foot.html" %}