{% include "../_partial/head.html" %}
<div class="mySale">
	<div class="memberList">
		<div id="letter" ></div>
		<div class="sort_box">
			<div class="sort_list">
				<div class="num_logo"><img src="/img/test1.jpg" /></div>
				<div class="num_name">北京市</div>
			</div>
		    <div class="sort_list">
				<div class="num_logo"><img src="/img/test1.jpg" /></div>
				<div class="num_name">天津市</div>
			</div>
		    <div class="sort_list">
				<div class="num_logo"><img src="/img/test1.jpg" /></div>
				<div class="num_name">上海市</div>
			</div>
		    <div class="sort_list">
				<div class="num_logo"><img src="/img/test1.jpg" /></div>
				<div class="num_name">重庆市</div>
			</div>
		    <div class="sort_list">
				<div class="num_logo"><img src="/img/test1.jpg" /></div>
				<div class="num_name">安徽省</div>
			</div>
		    <div class="sort_list">
				<div class="num_logo"><img src="/img/test1.jpg" /></div>
				<div class="num_name">福建省</div>
			</div>
		    <div class="sort_list">
				<div class="num_logo"><img src="/img/test1.jpg" /></div>
				<div class="num_name">广东省</div>
			</div>
		    <div class="sort_list">
				<div class="num_logo"><img src="/img/test1.jpg" /></div>
				<div class="num_name">广西省</div>
			</div>
		    <div class="sort_list">
				<div class="num_logo"><img src="/img/test1.jpg" /></div>
				<div class="num_name">甘肃省</div>
			</div>
		    <div class="sort_list">
				<div class="num_logo"><img src="/img/test1.jpg" /></div>
				<div class="num_name">贵州省</div>
			</div>
		    <div class="sort_list">
				<div class="num_logo"><img src="/img/test1.jpg" /></div>
				<div class="num_name">湖北省</div>
			</div>
		    <div class="sort_list">
				<div class="num_logo"><img src="/img/test1.jpg" /></div>
				<div class="num_name">湖南省</div>
			</div>
		    <div class="sort_list">
				<div class="num_logo"><img src="/img/test1.jpg" /></div>
				<div class="num_name">河北省</div>
			</div>
		    <div class="sort_list">
				<div class="num_logo"><img src="/img/test1.jpg" /></div>
				<div class="num_name">黑龙江</div>
			</div>
		    <div class="sort_list">
				<div class="num_logo"><img src="/img/test1.jpg" /></div>
				<div class="num_name">海南省</div>
			</div>
		    <div class="sort_list">
				<div class="num_logo"><img src="/img/test1.jpg" /></div>
				<div class="num_name">河南省</div>
			</div>
		    <div class="sort_list">
				<div class="num_logo"><img src="/img/test1.jpg" /></div>
				<div class="num_name">吉林省</div>
			</div>
		    <div class="sort_list">
				<div class="num_logo"><img src="/img/test1.jpg" /></div>
				<div class="num_name">江苏省</div>
			</div>
		    <div class="sort_list">
				<div class="num_logo"><img src="/img/test1.jpg" /></div>
				<div class="num_name">江西省</div>
			</div>
		    <div class="sort_list">
				<div class="num_logo"><img src="/img/test1.jpg" /></div>
				<div class="num_name">辽宁省</div>
			</div>
		    <div class="sort_list">
				<div class="num_logo"><img src="/img/test1.jpg" /></div>
				<div class="num_name">青海省</div>
			</div>
		    <div class="sort_list">
				<div class="num_logo"><img src="/img/test1.jpg" /></div>
				<div class="num_name">四川省</div>
			</div>
		    <div class="sort_list">
				<div class="num_logo"><img src="/img/test1.jpg" /></div>
				<div class="num_name">山东省</div>
			</div>
		    <div class="sort_list">
				<div class="num_logo"><img src="/img/test1.jpg" /></div>
				<div class="num_name">陕西省</div>
			</div>
		    <div class="sort_list">
				<div class="num_logo"><img src="/img/test1.jpg" /></div>
				<div class="num_name">山西省</div>
			</div>
		    <div class="sort_list">
				<div class="num_logo"><img src="/img/test1.jpg" /></div>
				<div class="num_name">台湾</div>
			</div>
		    <div class="sort_list">
				<div class="num_logo"><img src="/img/test1.jpg" /></div>
				<div class="num_name">云南省</div>
			</div>
		    <div class="sort_list">
				<div class="num_logo"><img src="/img/test1.jpg" /></div>
				<div class="num_name">浙江省</div>
			</div>
		    <div class="sort_list">
				<div class="num_logo"><img src="/img/test1.jpg" /></div>
				<div class="num_name">内蒙古</div>
			</div>
		    <div class="sort_list">
				<div class="num_logo"><img src="/img/test1.jpg" /></div>
				<div class="num_name">宁夏</div>
			</div>
		    <div class="sort_list">
				<div class="num_logo"><img src="/img/test1.jpg" /></div>
				<div class="num_name">西藏</div>
			</div>
		    <div class="sort_list">
				<div class="num_logo"><img src="/img/test1.jpg" /></div>
				<div class="num_name">新疆</div>
			</div>
		    <div class="sort_list">
				<div class="num_logo"><img src="/img/test1.jpg" /></div>
				<div class="num_name">香港</div>
			</div>
		    <div class="sort_list">
				<div class="num_logo"><img src="/img/test1.jpg" /></div>
				<div class="num_name">澳门</div>
			</div>
		</div>
		<div class="initials">
			<ul>
				<a><li><img src="/img/068.png"></li></a>
			</ul>
		</div>
	</div>
</div>
{% include "../_partial/foot.html" %}
<script src="/js/sale/jquery.charfirst.pinyin.js"></script>
<script src="/js/sale/sort.js"></script>