{% include "../_partial/head.html" %}
<form method="post" id="bankCard" action="#">
    <section class="withdraw-alipay-2">
        <input type="hidden" name="AccountNo" value="{{AccountNo}}">
        <input type="hidden" name="TrueName" value="{{TrueName}}">
        <input type="hidden" name="Type" value="{{Type}}">
        <input type="hidden" name="Bank" value="{{Bank}}">
        <input type="hidden" name="withdrawMoney" id="withdrawMoney" value="{{withdrawMoney}}">
        <p class="alipay-AccountNo">提现银行卡号：{{AccountNo|bankCardFormat()}}</p>
        <div class="withdraw-info">
            <h1>提现金额：</h1>
            <ul>
                <li>
                    <p>
                        <em>金额</em>
                        <input type="number" name="Amount" id="Amount" placeholder="本次最多提现金额为 {{withdrawMoney}} 元" required>
                    </p>
                </li>
                <li>
                    <p class="fee">
                        手续费：<em>0.00</em>
                    </p>
                </li>
            </ul>
        </div>
        <p class="alipay-button">
            <button class="am-btn am-btn-default">提交申请</button>
            <!-- <a href="#"  data-am-modal="{target: '#alipay-password'}"></a> -->
        </p>
    </section>
</form>
<div class="am-modal-actions am-modal am-modal-alert" id="alipay-password">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">请输入提现密码<span data-am-modal-close class="am-close">&times;</span></div>
        <div class="am-modal-bd">
            <div class="password-panel">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <input type="number" id="password">
            </div>
        </div>
    </div>
</div>
{% include "../_partial/foot.html" %}
<script src="/plugins/jquery.md5.min.js"></script>
<script src="/js/sale/withdraw-bank-card-2.js"></script>
