{% include "../../_partial/head.html" %}
<form method="post" class="am-form" data-am-validator>
    <section class="checkPhoneNumber">
        <ul>
            <li>
                <p>
                    <input type="tel" name="mobileNo" id="AccountName" placeholder="请输入手机号码" required readonly="readonly">
                    <button type="button" class="am-btn am-btn-xs am-btn-default sendSMS">获取验证码</button>
                </p>
            </li>
            <li>
                <p>
                    <input type="text" name="smsCode" placeholder="请填写验证码" required>
                </p>
            </li>
        </ul>
    </section>
    <p class="alipay-button">
        <button type="submit" class="am-btn am-btn-default" id="next">下一步</button>
    </p>
</form>
{% include "../../_partial/foot.html" %}
<script src="/js/sale/setting/checkPhoneNumber.js"></script>
