{% include "../../_partial/head.html" %}
<section class="request-withdraw">
    <ul>
        <a href="/sale/setting/updatePassword-1.html">
            <li>
                <p>
                    修改提现密码
                    <i class="am-icon-angle-right"></i>
                </p>
            </li>
        </a>
        <a href="/sale/setting/checkPhoneNumber.html">
            <li>
                <p>
                    忘记提现密码
                    <i class="am-icon-angle-right"></i>
                </p>
            </li>
        </a>
    </ul>
</section>
{% include "../../_partial/foot.html" %}