{% include "../../_partial/head.html" %}
<div class="updatePassword-password">
    <p class="title">请再次输入6位数字密码</p>
    <div class="password-panel">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <input type="number" id="password">
    </div>
</div>
<p class="alipay-button">
    <a href="javascript:;" class="am-btn am-btn-default">确认</a>
</p>
{% include "../../_partial/foot.html" %}
<script src="/js/sale/setting/updatePassword-3.js"></script>