{% include "../../_partial/head.html" %}
<div class="updatePassword-password">
    <p class="title">请输入原提现密码验证身份</p>
    <div class="password-panel">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <input type="number" id="password">
    </div>
</div>
<p class="alipay-button">
    <a href="/sale/setting/updatePassword-2.html" class="am-btn am-btn-default">下一步</a>
</p>
{% include "../../_partial/foot.html" %}
<script src="/js/sale/setting/updatePassword-1.js"></script>